body{
  padding: 0;
  margin: 0;
}

header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: white;
  background-color: #183392;
  i{
    padding-top:18px;
    padding-right: 18px;
  }
  p{
    padding-top:15px;
    padding-left: 18px;
  }
  a{
    color: white;
    text-decoration: none;
  }
}


.col-sm{
  background-color: #e8e5e5;
  display: flex;
  flex-direction: column;
  margin: 4px !important;
  border: black 2px solid;
  border-radius: 3px;
  img{
    width: 100%;
    height: 100%;
  }
  button{
    margin: 8px 2px 8px 2px;
    padding: 4px 8px 4px 8px;
  }
}

.col-md{
  background-color: #e8e5e5;
  display: flex;
  flex-direction: column;
  margin: 4px !important;
  border: black 2px solid;
  border-radius: 3px;
  width: 33%;
  img{

  }
  button{
    margin: 8px 2px 8px 2px;
    padding: 4px 8px 4px 8px;
  }
}

.row{
  margin: 0 !important;
}

footer
{
  width: 100%;
  color: white;
  background-color: #183392;
  a{
    text-decoration: none;
    color: white;
  }
}