img {
  width: 100px;
  height: 100px;
}

body{
  padding: 0;
  margin: 0;
}

header
{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: gray;
  i{
      margin-top: 28px;
  }
}

#liste
{
  width: 100%;
  background-color: darkred;
}


footer
{
  width: 100%;
  background-color: gray;
}