body{
  padding: 0;
  margin: 0;
}

section {
  img {
    width: 50px;
    height: 50px;
  }
}

header
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: gray;
  i{
    position: absolute;
    top: 35px;
    right: 50px;
  }
}

.liste
{
  display: flex;
  flex-direction: row;
  .cards
  {
    display: flex;
    justify-content: center;
    width: 33%;
    border-radius: 2px;
    margin-right: 8px;
    img{
      margin-top: 8px;
      height: 185px;
    }
  }
}


footer
{
  width: 100%;
  background-color: gray;
}